{% extends 'base.html' %}

{% block title %}Gmail API Credential{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Gmail API Credential</h1>
    </div>

    <div class="card shadow">
        <div class="card-header">
            Upload your GMail API Credential file or Submit the credential information (Client Id & Client Secret required).
        </div>
        <div class="card-body">
            <form role="form" class="user" method="post" action="{% url 'api_credential' %}" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="offset-2 col-md-8">
                        <div class="alert alert-info">
                            Please upload the correct Gmail API credential JSON file.
                            Download it on <a target="_blank" href="https://console.developers.google.com/apis/credentials">Google API & Services</a><br/>
                            Credential JSON file should contain the following REDIRECT_URL.<br/>
                            {{ redirect_uri }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.credential.id_for_label }}"
                           class="offset-2 col-sm-2 col-form-label">{{ form.credential.label }}</label>
                    <div class="col-sm-6" id="file_wrap">
                        {{ form.credential }}
                    </div>
                </div>
                <hr class="mb-5 mt-5" />
                <div class="form-group row">
                    <label for="{{ form.client_id.id_for_label }}"
                           class="offset-2 col-sm-2 col-form-label">{{ form.client_id.label }}</label>
                    <div class="col-sm-6" id="file_wrap">
                        {{ form.client_id }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="{{ form.client_secret.id_for_label }}"
                           class="offset-2 col-sm-2 col-form-label">{{ form.client_secret.label }}</label>
                    <div class="col-sm-6" id="file_wrap">
                        {{ form.client_secret }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="{{ form.project_id.id_for_label }}"
                           class="offset-2 col-sm-2 col-form-label">{{ form.project_id.label }}</label>
                    <div class="col-sm-6" id="file_wrap">
                        {{ form.project_id }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="offset-4"></label>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Upload Or Save</button>
                        <a href="{% url 'mail_accounts' %}" class="btn btn-light">Go to Accounts List</a>

                        <a href="{% url 'api_credential_remove' %}" class="btn btn-danger float-right">Remove API Credential</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#file_wrap a').click(function(e){
                e.preventDefault();
            })
        })
    </script>
{% endblock %}