{% extends 'base.html' %}

{% block title %}Gmail Vacation Multiple Settings{% endblock %}

{% block content %}
    <form role="form" class="user" method="post" action="{% url 'mail_vacation_multi_settings_update' %}">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                Gmail Vacation Multiple Setting
                {% if filters %}
                    ({{ filters | length }})
                {% else %}

                {% endif %}
            </h1>
        </div>
        <div class="card shadow">

            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-warning">
                        {{ form.errors }}
                    </div>
                {% endif %}

                {% csrf_token %}
                <div class="form-group row">
                    <label for="enableAutoReply" class="offset-2 col-sm-2 col-form-label">Vacation Responder
                        On/Off</label>
                    <div class="col-sm-6">
                        <select id="enableAutoReply" name="enableAutoReply" class="form-control" required="">
                            <option value="True"
                                    {% if vacation and vacation.enableAutoReply == True %}selected{% endif %}>On
                            </option>
                            <option value="False"
                                    {% if vacation and vacation.enableAutoReply == False %}selected{% endif %}>Off
                            </option>
                        </select>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="startTime" class="offset-2 col-sm-2 col-form-label">First Day</label>
                    <div class="col-sm-6">
                        <input type="date" name="startTime" class="form-control" required="" id="startTime"
                               {% if vacation and vacation.startTime %}value="{{ vacation.startTime }}"{% endif %}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="endTime" class="offset-2 col-sm-2 col-form-label">Last Day</label>
                    <div class="col-sm-6">
                        <input type="date" name="endTime" class="form-control" id="endTime"
                               {% if vacation and vacation.endTime %}value="{{ vacation.endTime }}"{% endif %}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="responseSubject" class="offset-2 col-sm-2 col-form-label">Subject</label>
                    <div class="col-sm-6">
                        <input type="text" name="responseSubject" maxlength="100" class="form-control"
                               id="responseSubject"
                               {% if vacation and vacation.responseSubject %}value="{{ vacation.responseSubject }}"{% endif %}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="responseBodyHtml" class="offset-2 col-sm-2 col-form-label">Message</label>
                    <div class="col-sm-6">
                        <textarea type="text" name="responseBodyHtml" class="form-control" required="" id="responseBodyHtml">{% if vacation and vacation.responseBodyHtml %}{{ vacation.responseBodyHtml }}{% endif %}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="restrictToContacts" class="offset-2 col-sm-2 col-form-label">
                    </label>
                    <div class="col-sm-6">
                        <input type="checkbox" name="restrictToContacts" class="" id="restrictToContacts"
                               {% if vacation and vacation.restrictToContacts %}checked{% endif %}>
                        Only send a response to people in my Contacts
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card m-0">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6" style="display: flex">
                                <label class="col-form-label ml-3">Apply To:</label>
                                <input type="checkbox" name="apply_all" id="apply_all" value="1"
                                       class="form-control fc-check ml-5"/>
                                <label for="apply_all" class="col-form-label ml-3">Select All</label>
                            </div>
                            <div class="col-md-6">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i>
                                        Submit
                                    </button>
                                    <a href="{% url 'mail_accounts' %}"
                                       class="btn btn-light btn-sm pull-right">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" class="invisible" id="filter_by_email" name="filter_by_email" value=0>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <textarea class="form-control" id="filter_emails" name="filter_emails">{{ filter_emails }}</textarea>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary btn-sm btn-email-search"><i class="fa fa-search"></i>
                                    Search
                                </button>
                                <a href="#"
                                       class="btn btn-light btn-sm pull-right btn-clear-search"><i class="fa fa-minus-circle"></i>Reset</a>
                            </div>

                        </div>
                    </div>
                    <div class="card-body" id="emails_wrap">
                        <div class="row">
                            {% for account in accounts %}
                                <div class="col-md-4">
                                    <div class="form-group row ml-1">
                                        <input type="checkbox"
                                               class="form-control fc-check"
                                               name="emails_applied[]"
                                               id="e_{{ account.email }}"
                                               value="{{ account.email }}"

                                        />
                                        <label for="e_{{ account.email }}"
                                               class="col-form-label ml-3">{{ account.email }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

<script>
    $(document).ready(function () {
      $('.btn-email-search').on('click', function (e) {
        $('#filter_by_email').val(1);
        var post_url = '{% url 'mail_vacation_multi_settings' %}';
        $('form').prop('action', post_url);
        console.log($('form').prop('action'));
        $('form').submit();
      });
      $('.btn-set-sender').on('click', function (e) {
        $('#filter_by_email').val(0);
        $('form').submit();
      });
      $('.btn-clear-search').on('click', function (e) {
        $('#filter_by_email').val(1);
        $('#filter_emails').html('');
        var post_url = '{% url 'mail_vacation_multi_settings' %}';
        $('form').prop('action', post_url);
        console.log($('form').prop('action'));
        $('form').submit();
      });
    })
</script>
{% endblock %}